<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"

>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>


<div class="navbar navbar-dark bg-dark shadow-sm mb-3">
    <div class="container d-flex justify-content-between">
        <div sec:authorize="isAuthenticated()">
         <span sec:authentication="principal.author" style="color:navajowhite"></span>님 안녕하세요
        </div>
<div>
        <p sec:authorize="isAnonymous()"> <a th:href="@{/loginUser}" >회원가입</a></p>
        <p sec:authorize="isAnonymous()"> <a th:href="@{/login}" >로그인</a> </p>
        <p sec:authorize="isAuthenticated()"> <a th:href="@{/logout}" >로그아웃</a> </p>
</div>

        <a href="/" class="navbar-brand d-flex align-items-center">
            <strong>일어</strong>

        </a>
        <a href="/list" class="navbar-brand d-flex align-items-center">
            <strong>자유게시판</strong>
        </a>
        <a href="/Infolist" class="navbar-brand d-flex align-items-center">
            <strong>QnA게시판</strong>
        </a>
        <a href="/userlist" class="navbar-brand d-flex align-items-center">
            <strong>회원목록</strong>
        </a>
        <a href="/culture" class="navbar-brand d-flex align-items-center">
            <strong>문화관</strong>
        </a>

    </div>
</div>
</body>
</html>