<!DOCTYPE html>
<html lang="en">
<head>
    <header th:insert="common/header.html"></header>
    <link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
    <style>
        img {



            /* transform : rotate(30deg); */
            -webkit-transform : rotate(90deg); /* 사파리, 크롬 */
            -moz-transform : rotate(30deg); /* 파이어폭스 */
            -o-transform : rotate(30deg); /* 오페라 */
            -ms-transform : rotate(120deg); /* 마이크로소프트 */

        }
    </style>
    <meta charset="UTF-8">
    <title>책</title>
</head>
<body>
<br/>
<br/>
<table>
<tr>
    <hr/>
    <td>    <img src="../books/KakaoTalk_20210403_123923221.jpg" height="200" width="300"/></td>

    <td>  <img src="../books/KakaoTalk_20210403_123923506.jpg" height="200" width="300"/></td>

    <td>  <img src="../books/KakaoTalk_20210403_123923876.jpg" height="200" width="300"/></td>
    <td>   <img src="../books/KakaoTalk_20210403_123924187.jpg" height="200" width="300"/></td>
</tr>

    <br/>
    <br/>
    <br/>
    <br/>
    <hr/>
  <tr>
      <td ><h3>한권으로 끝내기 N1</h3></td>
      <td ><h3>일본어 문법기초</h3></td>
      <td ><h3>일본어 상용한자</h3></td>
      <td><h3>한권으로 끝내기 Voka</h3></td>
  </tr>
</table>
</body>
</html>