<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default" xmlns:appearance="http://www.w3.org/1999/xhtml">

<head style="height: 100%;">
    <style type="text/css">

    #covid{
        position: absolute;
        bottom: 0px;
        left: 10%;
        width:20%;
        height:20%;
    }
    table{
      float: right;
        border:1px solid; padding:1px;
    }
    #tra{
        position: absolute;
        top : 25%;
        left: 10%;
        width:20%;
        height:20%;

    }
    #trans{
        position: absolute;
        top : 30%;
        left: 40%;
        width:20%;
        height:20%;
        margin:auto;
        text_align:center;
    }
    #table{
        position: absolute;
        bottom: 30%;
        left: 70%;
        width:20%;
        height:20%;
        margin:auto;
        text_align:center;
    }
    #table2{
        position: absolute;
        bottom: 55%;
        left: 70%;
        width:20%;
        height:20%;
        margin:auto;
        text_align:center;
    }


    </style>
<!-- https://currencylayer.com/ -->
    <link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
    <meta charset="UTF-8">
    <header th:insert="common/header.html"></header>
</head>
<body style="background-color: beige">
<div id="tra">
<span>
    <p>
        <h3>한국 여행사이트</h3>
    </p>
    <p>
        1. <a href="https://korean.visitkorea.or.kr/main/main.do#home">한국 관광공사 대한민국 구석</a>
    </p>
    <p>
        2. <a href="https://blog.naver.com/NBlogTop.naver?isHttpsRedirect=true&blogId=korea_diary">한국 관광공사 국내여행 블로그</a>
    </p>
    <p>
        3. <a href="https://www.ggtour.or.kr/">경기 관광 포털</a>
    </p>
</span>
</div>


<div id="covid">
<span>

        <h5>코로나수치</h5>

    <span>기준일 : <p class="card-text" id="stateDt" name="stateDt" ></p></span>



        <div style="width:600px; "> <canvas id="myChart"></canvas> </div>


    </span>
</div>

<div id="table">

    <table>

           <th style=" border:1px solid; background-color: #e8e8e8;">미국-일본 환율</th>

        <tr>
            <th>한화 : <td class="card-text" id="Exchange2" name="Exchange2" ></td></th>
        </tr>
        <tr>
            <th>상대원화 : <td class="card-text" id="Exchange1" name="Exchange1"></td></th>
        </tr>
        <tr>
            <th>한화 : <td class="card-text" id="Ja2" name="Ja2" ></td></th>
        </tr>
        <tr>
            <th>상대원화 : <td class="card-text" id="Ja1" name="Ja1"></td></th>
        </tr>



    </table>
    </div>
<div id="table2">
    <table>
            <th style=" border:1px solid; background-color: #e8e8e8;">국내 항공기 운행</th>


            <tr>
                <th>출발공항 : <td class="card-text" id="arrAirportNm" name="arrAirportNm" ></td>
            </tr>
            <tr>
                <th>출발시간 : <td class="card-text" id="arrPlandTime" name="arrPlandTime"></td></th>
            </tr>
            <tr>
                <th>도착공항 : </th><td class="card-text" id="depAirportNm" name="depAirportNm"></td></th>
            </tr>
            <tr>
                <th>도착시간 : </th><td class="card-text" id="depPlandTime" name="depPlandTime"></td></th>
            </tr>
            <tr>
                <th>항공편명 : </th><td class="card-text" id="vihicleId" name="vihicleId"></td></th>
            </tr>

        </table>
    </div>


<div id="trans">


        <div class="col" >
            <h3>환율 계산</h3>
        </div>


        <div class="col-md-6" >

            <div><label>송금 국가 :</label> <span>미국(USD)</span></div>
            <div><label>수취 국가 :</label>
                <select name="receive_country" class="custom-select col-sm-6" id="receive_country" onchange = "getExchangeRates()">
                    <option selected value="dft">국가 선택</option>
                    <option value="KRW">한국(KRW)</option>
                    <option value="JPY">일본(JPY)</option>
                </select>
            </div>
            <div><label>환율 :</label> <span id="exchange_rate"></span> </div>
            <div><label>송금액 :</label><span><input type="number" id="send_amount"></span>USD</div>
            <div><button type="button" class="btn btn-primary btn-sm " onclick="getSendAmount()" >환율 계산</button></div>

        </div>

        <div id="receiveResult" class="col"  style=" margin-top : 1%">
        </div>




</div>







<script type="text/javascript">

    $(document).ready(function exchange() {

                $.ajax({
                    url: 'exchange',
                    type: 'get',
                    success: function (v) {
                        var Exchange1 = v.환율[0].상대원화;
                        var Exchange2 = v.환율[0].한화;
                        var Ja1 = v.환율[2].상대원화;
                        var Ja2 = v.환율[2].한화;

                        $("#Exchange1").text(Exchange1);
                        $("#Exchange2").text(Exchange2);
                        $("#Ja1").text(Ja1);
                        $("#Ja2").text(Ja2);


console.log(v);

                    }});});



    $(function() {


        $.ajax({
            url: "covid",
            type: "GET",
            dataType: "json",

            success: function (v) {
                var stateDt = v.body.items[0].stateDt;
                var careCnt = v.body.items[0].careCnt;
                var decideCnt = v.body.items[0].decideCnt;
                var examCnt = v.body.items[0].examCnt;
                $("#stateDt").text(stateDt);
                $("#careCnt").text(careCnt);
                $("#decideCnt").text(decideCnt);
                $("#examCnt").text(examCnt);
                console.log(v);


                var ctx = document.getElementById("myChart").getContext('2d');

                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [ "치료자수", "감염자수", "검사인원수"],
                        datasets: [{
                            label: ["치료자수","감염자수","검사인원수"],
                            data: [ careCnt,  decideCnt, examCnt],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',


                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',


                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        maintainAspectRatio: true, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
            }, error: function (e) {

                console.log(e);

            }
        });

    });






</script>
<script>
    $(function() {


        $.ajax({
            url: "air",
            type: "GET",
            dataType: "json",

            success: function (v) {
                 var depPlandTime = v.body.items[1].depPlandTime;
                 var arrAirportNm = v.body.items[1].arrAirportNm;
                 var arrPlandTime = v.body.items[1].arrPlandTime;
                 var depAirportNm = v.body.items[1].depAirportNm;
                 var vihicleId = v.body.items[1].vihicleId;
                 $("#depPlandTime").text(depPlandTime);
                 $("#arrAirportNm").text(arrAirportNm);
                 $("#arrPlandTime").text(arrPlandTime);
                 $("#depAirportNm").text(depAirportNm);
                 $("#vihicleId").text(vihicleId);



                console.log(v);
            }, error: function (e) {

                console.log(e);

            }
        });

    });

</script>

<script>
    $('#send_amount').keypress(function (e) {
        if (e.which === 13) {
            getSendAmount();
        }
    });
    function getExchangeRates(){
        var receive_country = $('#receive_country').val();
        console.log(receive_country);
        if(receive_country === "dft"){
            $('#exchange_rate').text("");
            return;
        }
        $.ajax({
            url : "/api/exchange-rates?receiveCountry=" + receive_country,
            type : "GET",
            success : function(res){
                $('#exchange_rate').text(res + " " +receive_country + "/ USD");
            },
            error : function(err){
                if(err.status === 400){
                    alert("잘못 입력된 값 입니다.")
                }else if(err.status === 500){
                    alert("서버에 문제가 발생했습니다.")
                }
            }
        })
    }
    function validCheck() {
        var amount = $('#send_amount').val();
        return (amount.length <= 0 || amount < 0 || amount > 10000);
    }

    function getSendAmount(){
        var receivingCountry = $('#receive_country').val();
        var sendAmount = $('#send_amount').val();
        var inputData = {
            "receiveCountry" : receivingCountry,
            "sendAmount" : sendAmount
        }
        if (validCheck()) {
            $('#receiveResult').html("<div class=\"alert alert-danger\"><p>송금액이 바르지 않습니다.송금액은 0 ~ 10000 사이의 수를 입력하세요</p></div>");
            return;
        }
        var jsonData = JSON.stringify(inputData);
        $.ajax({
            url : "/api/exchange-rates",
            data : jsonData,
            type : "POST",
            contentType : "application/json",
            success : function (res) {
                $('#receiveResult').html("<div class=\"alert alert-success\">" +
                    "<p>수취금액은 " + res + " " + receivingCountry + " 입니다.</p>" +
                    "</div>");
            },
            error : function(err){
                if(err.status === 400){
                    alert("잘못 입력된 값 입니다.")
                }else if(err.status === 500){
                    alert("서버에 문제가 발생했습니다.")
                }
            }
        })
    }
</script>
</body>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
</html>
