<!DOCTYPE HTML>
<html lang="kr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">
<link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
    <style>    #mail_check_input_box_false{
    background-color:#ebebe4;
    }
    #mail_check_input_box_true{
    background-color:white;
    }
    .correct{
        color : green;
    }
    .incorrect{
        color : red;
    }
    .check-section{
        margin-top:10px;
        display:flex;
    }
    .check-section>span{
        margin-left:15px;
        color:red;
    }
    .compare{
        width:70%;
    }
    </style>

<body>
<div class="container">
    <header th:insert="common/header.html"></header>
    <h1>회원가입</h1>
    <form role="form" th:action="@{/loginUser}" th:object="${userForm}" method="post" >
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <div class="form-group">
            <label th:for="username">아이디</label>
            <input type="text" th:field="*{username}" class="form-control" placeholder="아이디 입력해주세요">

            </div>

        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input type="password" class="form-control" field="*{password}" name="password" placeholder="비밀번호">
            <label>비밀번호 확인</label>
            <input type="password" size=37 name="rePassword">
        </div>
        <div class="form-group">
            <label th:for="email">이메일</label>
            <input type="email" field="*{email}" name="email" class="form-control" id="email" placeholder="이메일 입력해주세요">
        </div>




                <input type="button" id="mail_check_button" value="인증번호 전송">
                <input type="text" placeholder="인증 키 입력" style="display:none;" class="Check"><br>
                <section class="check-section">
                    <input type="text" placeholder="인증 키 입력" style="display: none;"
                           class="compare"><span class="compare-text"
                                                 style="display: none">불일치</span>
                </section>







        <div class="form-group">
            <label th:for="name">성명</label>
            <input class="form-control" field="*{name}" name="name" type="text" placeholder="성명">
        </div>
        <div class="form-group">
            <label th:for="author">닉네임</label>
            <input class="form-control"  field="*{author}" name="author" type="text" placeholder="별명">
        </div>

        <div class="form-group">
            <label th:for="role">권한</label>
            <input class="form-control"  field="*{role}" name="role" type="text" placeholder="필수아님">
        </div>
        <button type="submit" class="btn btn-primary">등록</button>
    </form>

</div>




<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    var idPass;
    var idRegex = /^[a-zA-Z0-9]{1,12}$/;
    $(document).ready(function() {
        //아이디 중복체크 아이디입력후 다른 곳 클릭하면 발동
        $('input[name=username]').blur(function () {
            var idCheck = $('input[name=username]').val();
            if (idRegex.test(idCheck)) {
                $.ajax({
                    url: 'idCheck?username=' + idCheck,
                    type: 'get',
                    success: function (data) {
                        var color;
                        var ans;

                        if (data > 0) {
                            ans = '이미있는 아이디입니다.';
                            alert(ans);
                            color = 'red';
                            idPass = false;
                        } else {
                            ans = '회원가입 가능한 아이디입니다.';
                            alert(ans);
                            color = 'blue';
                            idPass = true;
                        }
                        $('#temp').text(ans);
                        $('#temp').css('color', color);

                    },error: function (e){

                        //https://orion3734.tistory.com/23
                    }
                })
            }
        });
    });
</script>
<script type="text/javascript">

    $(document).ready(function() {
        //아이디 중복체크 아이디입력후 다른 곳 클릭하면 발동
        $('input[name=email]').blur(function () {
            var emailCheck = $('input[name=email]').val();

                $.ajax({
                    url: 'emailCheck?email=' + emailCheck,
                    type: 'get',
                    success: function (data) {
                        var color;
                        var ans1;

                        if (data > 0) {
                            ans1 = '이미있는 이메일입니다.';
                            alert(ans1);
                            color = 'red';

                        } else {
                            ans1 = '회원가입 가능한 이메일입니다..';
                            alert(ans1);
                            color = 'blue';

                        }
                        $('#temp').text(ans1);
                        $('#temp').css('color', color);

                    },error: function (e){

                        //https://orion3734.tistory.com/23
                    }
                })

        });
    });
</script>


<script type="text/javascript">

//csrf방어저항
var code = " ";
var isCertification = false;
    //메일인증보내기
    $(function() {
        $("#mail_check_button").click(function () {
            var email = $("#email").val();
            var cehckBox = $("#mail_check_input");  //인증번호입력란
            var boxWrap = $("#mail_check_input_box");//인증번호입력박스
            $.ajax({
                type: "GET",
                url: "mailCheck?email"+email,
                data: {email:email},

                success: function (v) {
                    cehckBox.attr("disabled",false);
                    boxWrap.attr("id","mail_check_input_box_true");
                    console.log("data : "+v);
                    code = v;
                    isCertification=true;
                }, error: function (es) {
                    console.log(es);

                    alert("오류");

                }

            });
            $(".compare").css("display", "block");
            $(".compare-text").css("display", "block");
        });
    });

/* 인증번호 비교 */
$("#mail_check_input").blur(function(){
    var inputCode = $(".mail_check_input").val();        // 입력코드
    var checkResult = $("#mail_check_input_box_warn");    // 비교 결과
    if(inputCode == code){                            // 일치할 경우
        checkResult.html("인증번호가 일치합니다.");
        checkResult.attr("class", "correct");
    } else {                                            // 일치하지 않을 경우
        checkResult.html("인증번호를 다시 확인해주세요.");
        checkResult.attr("class", "incorrect");
    }
});
//인증비교
$(".compare").on("propertychange change keyup paste input", function() {
    if ($(".compare").val() == code) {
        $(".compare-text").text("인증 성공!").css("color", "black");
        isCertification = true;
    } else {
        $(".compare-text").text("불일치!").css("color", "red");
        isCertification = false;
    }
});


    $(document).ready(function(){
        // 회원가입처리
        $("form").submit(function(){
            var name = $("input[name='name']");
            if( name.val() =='') {
                alert("성명을 입력하세요");
                name.focus();
                return false;
            }
            var username = $("input[name='username']");
            if( username.val() =='') {
                alert("아이디를 입력해주세요");
                username.focus();
                return false;
            }


            var author = $("input[name='author']");
            if( author.val() =='') {
                alert("별명을 입력하세요");
                author.focus();
                return false;
            }
            var email = $("input[name='email']");
            if(email.val() == ''){
                alert('이메일을 입력하세요');
                email.focus();
                return false;
            } else {
                var emailRegex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                if (!emailRegex.test(email.val())) {
                    alert('이메일 주소가 유효하지 않습니다. ex)abc@gmail.com');
                    email.focus();
                    return false;
                }
            }
            var password = $("input[name='password']");
            var repassword = $("input[name='rePassword']");
            if(password.val() =='') {
                alert("비밀번호를 입력하세요");
                password.focus();
                return false;
            }
            if(password.val().search(/\s/) != -1){
                alert("비밀번호는 공백없이 입력해주세요.");
                return false;
            }
            if(!/^[a-zA-Z0-9!@#$%^&*()?_~]{8,20}$/.test(password.val())){
                alert("비밀번호는 숫자, 영문, 특수문자(!@$%^&*?_~ 만 허용) 조합으로 8~20자리를 사용해야 합니다.");
                return false;
            }
            // 영문, 숫자, 특수문자 2종 이상 혼용
            var chk=0;
            if(password.val().search(/[0-9]/g) != -1 ) chk ++;
            if(password.val().search(/[a-z]/ig)  != -1 ) chk ++;
            if(password.val().search(/[!@#$%^&*()?_~]/g) != -1) chk ++;
            if(chk < 2){
                alert("비밀번호는 숫자, 영문, 특수문자를 두가지이상 혼용하여야 합니다.");
                return false;
            }
            // email이 아닌 userID 인 경우에는 체크하면 유용. email은 특수 허용문자에서 걸러진다.
            /*
            if(password.val().search(userID.val())>-1){
                alert("userID가 포함된 비밀번호는 사용할 수 없습니다.");
                return false;
            }
            */
            if(repassword.val() =='') {
                alert("비밀번호를 다시 한번 더 입력하세요!");
                repassword.focus();
                return false;
            }
            if(password.val()!== repassword.val()){
                alert('입력한 두 개의 비밀번호가 일치하지 않습니다');
                return false;
            }



            if(isCertification==false){
                alert("메일 인증이 완료되지 않았습니다.");
                return false;
            }
            else
                true;
        });

        // userID(e-mail) 가입여부 검사
        $("#checkid").click(function(e){
            e.preventDefault();
            var email = $("input[name='email']");
            if(email.val() == ''){
                alert('이메일을 입력하세요');
                email.focus();
                return false;
            } else {
                var emailRegex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                if (!emailRegex.test(email.val())) {
                    alert('이메일 주소가 유효하지 않습니다. ex)abc@gmail.com');
                    email.focus();
                    return false;
                }
            }
            });
    });
</script>
</body>
</html>