<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="replyMapper">
    <insert id="create">
        insert into reply (bno,replyer,replytext)
        values(#{bno},#{replyer},#{replytext})
    </insert>
    <update id="update">
        update reply
        set replytext = #{replytext}
        where rno = #{rno}
    </update>
    <delete id="delete">
        delete from reply where rno = #{rno}
    </delete>
    <select id="listPage" resultType="kopo.jjh.prj.mapper.ReplyVO">
        select *
        from reply
        where bno = #{bno}
        order by rno desc
            limit #{cri.pageStart}, #{cri.perPageNum}
    </select>
    <select id="getTotalCount" resultType="Long">
        select count(bno)
        from reply
        where bno = #{bno}
    </select>
</mapper>