<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="@{'게시판 - ' + ${post.title}}"></title>
    <link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
    <style>
        #contentType{
            position: absolute;
            background-color: white;
            top: auto;
            height:50%;
            margin:auto;
            text_align:center;
        }
    </style>
</head>
<body>
<header th:insert="common/header.html"></header>
<div class="container">
    <div class="card">
        <div class="card-body">

            <h5 class="card-title" th:text="@{${post.title} + ' - ' + ${post.author}}"></h5>
            <p class="card-text">
                <small class="text-muted" th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></small>
            </p>
            <p class="card-text" th:text="${post.content}" ></p>
            <div th:if="${post.fileId != null}">
                <strong>첨부파일 : </strong>
                <a class="card-text" th:href="@{'/download/' + ${post.fileId}}" th:text="파일다운로드"></a>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a class="btn btn-info" th:href="@{'/post/edit/' + ${post.id}}" role="button">수정</a>
        </div>
        <div class="col-auto">
            <form id="delete-form" th:action="@{'/post/' + ${post.id}}" method="post">
                <input type="hidden" name="_method" value="delete"/>
                <button id="delete-btn" type="submit" class="btn btn-danger">삭제</button>
            </form>
        </div>
    </div>



</div>
<!--  댓글  -->
<div class="container">
    <label for="contents">comment</label>
    <form name="commentInsertForm">
        <div class="input-group">
            <input type="hidden" name="bno" th:value="${post.id}"/>
            <input type="hidden" class="form-control" name="recommend" id="recommend" th:value=0>
            <input type="text" class="form-control" id="contents" name="contents" placeholder="내용을 입력하세요.">
            <span class="input-group-btn">
                    <button class="btn btn-default" type="button" name="commentInsertBtn">등록</button>
               </span>
        </div>
    </form>
</div>

<div class="container">
    <div class="commentList"></div>
</div>
</div>



<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
//댓글 목록
var recommend = $("input[name=recommend]").val();

var bno = $("input[name=bno]").val(); //게시글 번호

$('[name=commentInsertBtn]').click(function(){ //댓글 등록 버튼 클릭시

    var insertData = $('[name=commentInsertForm]').serialize(); //commentInsertForm의 내용을 가져옴
    commentInsert(insertData); //Insert 함수호출(아래)
});


function commentList(){
$.ajax({
url : '/comment/list',
type : 'get',
            data : {'bno':bno},
    success : function(data){
        var a ='';
        $.each(data, function(key, value){
            a += '<div class="commentArea" style="border-bottom:1px solid darkgray; margin-bottom: 15px;">';
            a += '<div class="commentInfo'+value.bno+'">'+' 게시물번호 : '+value.bno ;
            a += '<div class="commentInfo'+value.cno+'">'+'댓글번호 : '+value.cno+' / 작성자 : '+value.writer;
            a += '<div class="recommend'+value.cno+'"> <p> 추천수 : '+value.recommend +'</p> <a onclick="reco('+value.cno+');"> 추천 (b)</a>';

            a += '<a onclick="commentUpdate('+value.cno+',\''+value.content+'\');"> /수정 </a>';
            a += '<a onclick="commentDelete('+value.cno+');"> /삭제 </a> </div>';
    a += '<div class="commentContent'+value.cno+'"> <p> 내용 : '+value.content +'</p>';

        a += '</div></div>';
});

$(".commentList").html(a);
}
});
}

//댓글 등록
function commentInsert(insertData){
$.ajax({
url : '/comment/insert',
type : 'post',
data : insertData,
success : function(data){
if(data == 1) {
commentList(); //댓글 작성 후 댓글 목록 reload
$('[name=contents]').val('');

}
}
});
}



//댓글 수정 - 댓글 내용 출력을 input 폼으로 변경
function commentUpdate(cno, content){
var a ='';

a += '<div class="input-group">';
    a += '<input type="text" class="form-control" name="contents_'+cno+'" value="'+content+'"/>';
       a += '<span class="input-group-btn"><button class="btn btn-default" type="button" onclick="commentUpdateProc('+cno+');">수정</button> </span>';
    a += '</div>';

$('.commentContent'+cno).html(a);

}

//댓글 수정 - 댓글 내용 출력을 input 폼으로 변경


//댓글 수정
function commentUpdateProc(cno){
var updateContent = $('[name=contents_'+cno+']').val();

$.ajax({
url : '/comment/update',
type : 'post',
data : {'contents' : updateContent, 'cno' : cno},

success : function(data){
if(data == 1) commentList(bno); //댓글 수정후 목록 출력
}
});
}
//댓글 수정
function reco(cno){


    $.ajax({
        url : '/comment/reco',
        type : 'post',
        data : {'recommend' : recommend, 'cno' : cno},


        success : function(data){
            if(data == 1) commentList(bno); //댓글 수정후 목록 출력
            console.log(data);

        }
    });
}
//댓글 삭제
function commentDelete(cno){
$.ajax({
url : '/comment/delete/'+cno,
type : 'post',
success : function(data){
if(data == 1) commentList(bno); //댓글 삭제후 목록 출력
}
});
}




$(document).ready(function(){
commentList(); //페이지 로딩시 댓글 목록 출력
});



</script>


<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>



