<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>게시판 - 목록</title>
    <link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
    <style>
        table{
            table-layout: fixed;
            width: auto;
            height: auto;

        }
    </style>
</head>
<body>
<header th:insert="common/header.html"></header>
<div class="container" style="border:1px; ">
    <div sec:authorize="isAuthenticated()" id="right">
        <span sec:authentication="principal.author" style="color:#baea8c"></span>님 Q&A게시판입니다.
    </div>
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <!--공지-->
            <th scope="col"></th>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
            <th scope="col">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="post : ${boardList}">
            <th scope="row">
                <span th:if="${post.categori.toString().equals('1')}">공지사항</span>
            </th>
            <th scope="row">
                <span th:text="${post.id}"></span>
            </th>
            <td>
                <a th:href="@{'/post/' + ${post.id}}">
                    <span th:text="${post.title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${post.author}"></span>
            </td>

            <td>
                <span th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
            <td>
                <span th:text="${post.hitCnt}"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a class="btn btn-primary" th:href="@{/post}" role="button">글쓰기</a>
        </div>
        <script type='text/javascript' src='//www.midijs.net/lib/midi.js'></script>

    </div>
    <form action="/search" method="GET">
        <div class="search">
            <input name="keyword" type="text" placeholder="검색어를 입력해주세요">

        </div>

        <button>검색하기</button>
    </form>
    <div>
    <span th:each="pageNum : ${pageList}" >
        <a th:href="@{'/list?page=' + ${pageNum}}">[[${pageNum}]]</a>
    </span>
    </div>

</div>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>